In [1]:
import pandas as pd

In [38]:
df = pd.read_excel("./resources/1.xlsx", engine='openpyxl')

In [39]:
df.head()

   组号  编号   厚度mm  孔隙率（%）  压缩回弹性率（%）  过滤阻力Pa  过滤效率（%）  透气性 mm/s  插层率（%）
0   1  2#  2.810   96.28      83.20   7.533   19.967   1019.67   36.44
1   2  2#  2.910   96.41      86.65   7.200   24.967    968.63   24.74
2   3  2#  3.425   96.95      94.33  10.133   34.600    643.40   31.45
3   4  2#  3.400   96.93      82.88  10.600   33.900    603.17   19.37
4   5  2#  3.845   97.30      75.97  15.700   54.500    405.83   31.19

In [34]:
df_melt = df.melt()

In [35]:
df_melt.head()

  variable value
0       组号     1
1       组号     2
2       组号     3
3       组号     4
4       组号     5